<h1>Albums</h1>
<table class="table table-striped table-inverse">
  <thead class="thead-inverse">
  <tr>
  <th>ID</th>
  <th>Title</th>
  <th>Artist</th>
  <th>Genre</th>
  <th>Year</th>
  </tr>
</thead>
  <tbody>
    {{#each albums as |album|}}
      <tr>
        <td data-id="{{album.id}}">{{album.id}}</td>
        <td>{{album.title}}</td>
        <td>
          {{#if album.artist}}
            {{album.artist}}
          {{else}}
            No artist.
          {{/if}}
        </td>
        <td>
          {{#if album.genre}}
            {{album.genre}}
          {{else}}
            No genre.
          {{/if}}
        </td>
        <td>
          {{#if album.year}}
            {{album.year}}
          {{else}}
            No year.
          {{/if}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
